html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
button{
  font-size: 1.6rem;
}
.full-width {
  width: 100%;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color:#ffffff;
  text-decoration: none;
  padding: 1rem;

}
.header-links a:hover{
  color:#ff8000;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
a:hover{
  color:#ff8000
}



.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container{
  display: flex;
  flex-direction: column;
  width:32rem;
  padding: 2rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  list-style-type: none;
}
.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input{
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}

.profile{
  display: flex;
  flex-wrap: wrap;
}

.profile-info{
  flex: 1 1 30rem;
}




